td.cell-expand-button,
th.cell-expand-button {
    border-right-width: 0 !important;
}

th.cell-expand-button::before {
    content: '';
}
td.cell-expand-button + td,
th.cell-expand-button + th {
    border-left-width: 0 !important;
}

td.cell-expanded-empty::before {
    border-top-width: 0 !important;
    content: ' ';
}

td.cell-expand-button > a {
    margin-top: -15px;
    margin-bottom: -15px;
}

td.cell-expanded-empty {
    font-size: smaller;
}

td.cell-expand-button:hover {
    cursor: pointer;
    color: #8ad4ee;
}

td.cell-expanded-empty:hover {
    cursor: inherit;
}

td.cell-detail {
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
    text-align: right;
}

td.cell-total {
    font-weight: bold;
}

tr:last-child td {
    border-bottom-width: 3px;
}
