// Here you can add other styles
.no-clear-button::-webkit-clear-button {
  -webkit-appearance: none;
}

.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

td.cell-cone {
  color: #5c6873;
 }

td.cell-cone.focus {

  background-color: #fff;
  border-color: #8ad4ee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }

td.cell-cone:hover {

  background-color: #fff;
  cursor: pointer;
  border-color: #8ad4ee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }

.main .container-fluid {
  height: 100%;
  padding-bottom: 80px!important;
}

.app-body .main {
  overflow: hidden;
}


//react-select customising
.react-select__control {
  background-color: hsl(0,0%,100%)!important;
  border-color: hsl(0,0%,90%)!important;
  min-height: 35px!important;
}

.react-select__control:focus {
  color: #5c6873!important;
  background-color: #fff;
  border-color: #8ad4ee!important;
  outline: 0!important;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25)!important; }

.react-select__multi-value {
  background-color: hsl(0,0%,100%)!important;
}

.react-select__multi-value__label {
  font-size: 100%!important;
  padding: 0px!important;
}

.react-select__indicator {
  padding: 6px!important;
}
